

/* Estilos para la sección del catálogo */
section {
    margin: 100px;
    overflow: auto; /* Limpiar los flotantes */
}

/* Estilos para el contenedor central */
.contenedor_central {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 1600px;
    margin: auto;
    margin-top: 90px;
}

/* Estilos para el botón de la carta del catálogo */
.carta_catalogo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Máximo ancho de la carta */
    margin-right: 20px; /* Espacio entre las cartas */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-bottom: 20px;
}

.carta_catalogo:hover {
    outline: 1px solid #777;
}

/* Estilos para la imagen del catálogo dentro del botón */
.carta_catalogo .catalogo__imagen img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para el título del catálogo dentro del botón */
.carta_catalogo h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilos para el texto del catálogo dentro del botón */
.carta_catalogo p {
    font-size: 1em;
    line-height: 1.5;
}


@media (max-width: 700px) {
    section {
        margin: 0;
        margin-top: 100px;
        overflow: auto; /* Limpiar los flotantes */
    }
    
    /* Estilos para el contenedor central */
    .contenedor_central {
        display: flex;
        flex-wrap: wrap; /* Permitir que las cartas se envuelvan en múltiples líneas */
        justify-content: center; /* Centrar verticalmente los elementos */
    }
    
    /* Estilos para el botón de la carta del catálogo */
    .carta_catalogo {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 90%;
        margin-right: 0px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    .carta_catalogo:hover {
        outline: 1px solid #777;
    }
    
    /* Estilos para la imagen del catálogo dentro del botón */
    .carta_catalogo .catalogo__imagen img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    /* Estilos para el título del catálogo dentro del botón */
    .carta_catalogo h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    /* Estilos para el texto del catálogo dentro del botón */
    .carta_catalogo p {
        font-size: 1em;
        line-height: 1.5;
    }
}