/* usuarios.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section#usuarios {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#usuarios h2 {
    color: #48e;
}

#usuariosTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#usuariosTable th,
#usuariosTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#usuariosTable th {
    background-color: #48e;
    color: white;
}

#usuariosTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#usuariosTable tbody tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
    color: white;
}

button.editar {
    background-color: #4CAF50; /* Green */
}

button.eliminar {
    background-color: #f44336; /* Red */
}

button.editar:hover {
    background-color: #45a049;
}

button.eliminar:hover {
    background-color: #e57373;
}

section#formSection {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#formSection h2 {
    color: #48e;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #48e;
    box-shadow: 0 0 5px rgba(72, 142, 238, 0.3);
}

button[type="submit"] {
    display: block;
    width: 100%;
    background-color: #48e;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #369;
}
