body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #eee; /* Cambié el color de fondo a un tono oscuro */
    color: #000;
}

h1 {
    text-align: center;
    color: #000000; /* Cambié el color del título a morado */
}

section {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee; /* Cambié el color de fondo del área de contenido a un tono más oscuro */
    border-radius: 20px;
    border: 2px solid #000; /* Utilicé el morado para el borde */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



